* { margin: auto;
color: navy;
background-color: bisque;
font-family: Arial, Helvetica, sans-serif;
background-image: url(https://i.pinimg.com/736x/98/f9/3b/98f93be68bad9bc9ccf9c2d7eebfb086.jpg);
background-size: cover;
}
